<nav class="bg-gray-800 text-white">
    <ul class="flex justify-center items-center space-x-6 p-4">
        <li>
            <a href="/" class="hover:text-blue-400 transition">Home</a>
        </li>
        <li>
            <a href="/posts" class="hover:text-blue-400 transition">Posts</a>
        </li>
        <li>
            <a href="/users" class="hover:text-blue-400 transition">Users</a>
        </li>
    </ul>
</nav>
